@import 'reset.css/reset.css';
@import 'include-media/dist/include-media';


// ---------------------------------------------------------------
// Variables
// ---------------------------------------------------------------

$breakpoints: (
  small: 500px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1440px,
);


// ---------------------------------------------------------------
// Base
// ---------------------------------------------------------------

html,
body {
  min-height: 100vh;
  background-color: #212322;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  align-items: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// ---------------------------------------------------------------
// Objects
// ---------------------------------------------------------------

// General purposes canvas container - applies to all examples

.container {
  padding: 5vw;

  > canvas {
    position: fixed;
    top: 0;
    left: 0;

    &:focus {
      outline: none;
    }
  }
}

// ---------------------------------------------------------------
// Items
// ---------------------------------------------------------------

.items {
  position: relative;
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  height: 600vh;
}

.item {
  color: white;
  display: block;
  padding: 20px;
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  transition: 0.2s;
  transition-property: box-shadow;
  text-decoration: none;

  &:focus,
  &:hover {
    box-shadow: 0 0 0 2px white, 0 9px 50px rgba(purple, 0.8);
    outline: none;
  }
}

